@import "../../../styles/variables";

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  // gap: 0 20px;
  &__resume {
    gap: 0 20px;
    @media (min-width: $tablet-width) {
      gap: 0 17px;
    }
  }
  &__speaking-club {
    gap: 0 10px;
    @media (min-width: $wide-phone-width) {
      gap: 0 33px;
    }
    @media (min-width: $tablet-width) {
      gap: 0 17px;
    }
  }
  &__documents {
    gap: 0 5px;
    @media (min-width: $wide-phone-width) {
      gap: 0 33px;
    }
    @media (min-width: $tablet-width) {
      gap: 0 17px;
    }
  }
  &__students {
    gap: 0 5px;
    @media (min-width: $wide-phone-width) {
      gap: 0 17px;
    }
  }
  &__prepare-to-test {
    gap: 0 5px;
    @media (min-width: $wide-phone-width) {
      gap: 0 17px;
    }
  }
  &__consultation {
    gap: 0 5px;
    @media (min-width: $wide-phone-width) {
      gap: 0 17px;
    }
  }

  &__order {
    color: $main-green;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.8;
    // align-self: center;
    @media (min-width: $wide-phone-width) {
      line-height: normal;
      align-self: center;
    }
    @media (min-width: $tablet-width) {
      font-size: 100px;
    }
    &-resume {
      align-self: center;
      @media (min-width: $wide-phone-width) {
        align-self: center;
      }
    }
    &-speaking-club {
      align-self: flex-start;
      @media (min-width: $wide-phone-width) {
        align-self: center;
      }
    }
    &-documents {
      align-self: flex-start;
      @media (min-width: $wide-phone-width) {
        align-self: center;
      }
    }
    &-students {
      align-self: flex-start;
      @media (min-width: $unfolded-tablet-width) {
        align-self: center;
      }
    }
    &-prepare-to-test {
      align-self: flex-start;
      @media (min-width: $unfolded-tablet-width) {
        align-self: center;
      }
    }
    &-consultation {
      align-self: flex-start;
      @media (min-width: $unfolded-tablet-width) {
        align-self: center;
      }
    }
  }

  &__order-block {
    display: grid;
  }

  &__text-block {
    display: grid;
  }

  &__content-block {
    align-self: center;
    display: inline;
  }

  &__strong {
    color: $text-black;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: $tablet-width) {
      font-size: 24px;
    }
  }

  &__text {
    color: $text-black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (min-width: $tablet-width) {
      font-size: 24px;
    }
  }

  &__non-text {
    display: none;
  }
}
