@import "../../../styles/mixins";
@import "../../../styles/variables";

.card {
  border-radius: 20px;
  background-color: $white;
  box-shadow: $header-shadow;
  padding: 10px 10px 24px;
  width: 289px;
  margin: 0 auto;
  @media (min-width: $unfolded-tablet-width) {
    width: auto;
  }
  // @media (min-width: $desktop-width) {
  //   width: 289px;
  // }

  &__background {
    min-width: 268px;
    width: auto;
    height: 269px;
    border-radius: 10px;
    box-shadow: $white-form-shadow;
    margin-bottom: 10px;
    
  }

  &__text {
    color: $text-black;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: pre-line;
  }
}
