@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  @include container;
}

.deutch {
  &__title {
    color: $text-black;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
    @media (min-width: $wide-phone-width) {
      font-size: 30px;
      margin-bottom: 30px;
    }
    @media (min-width: $tablet-width) {
      font-size: 45px;
    }
  }

  &__level-block {
    display: grid;
    grid-auto-flow: column;
    gap: 0 54px;
    margin-bottom: 20px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 30px;
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }
  }

  &__right-block,
  &__left-block {
    position: relative;
  }

  &__left-block {
    justify-self: end;
  }

  &__right-block {
    justify-self: start;
  }

  &__a1-block {
    width: 112.444px;
    height: 112.444px;
    transform: rotate(-15deg);
    border-radius: 50%;
    box-shadow: 0px 4px 50px rgba(14, 62, 39, 0.1),
      0px 0px 15px rgba(14, 62, 39, 0.05);
    display: grid;
    justify-content: center;
    align-content: center;
    @media (min-width: $wide-phone-width) {
      width: 180px;
      height: 180px;
    }
  }

  &__b2-block {
    width: 112.444px;
    height: 112.444px;
    transform: rotate(15deg);
    border-radius: 50%;
    box-shadow: 0px 4px 50px rgba(14, 62, 39, 0.1),
      0px 0px 15px rgba(14, 62, 39, 0.05);
    display: grid;
    justify-content: center;
    align-content: center;
    @media (min-width: $wide-phone-width) {
      width: 180px;
      height: 180px;
    }
  }

  &__from-block {
    width: 56px;
    height: 56px;
    transform: rotate(-15deg);
    border-radius: 50%;
    background-color: $main-green;
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0px;
    right: -20px;
    @media (min-width: $wide-phone-width) {
      width: 90px;
      height: 90px;
      bottom: -10px;
    }
  }

  &__to-block {
    width: 56px;
    height: 56px;
    transform: rotate(15deg);
    border-radius: 50%;
    background-color: $main-green;
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0px;
    left: -20px;
    @media (min-width: $wide-phone-width) {
      width: 90px;
      height: 90px;
      bottom: -10px;
    }
  }

  &__level-text {
    color: $main-green;
    font-size: 46px;
    font-weight: bold;
    @media (min-width: $wide-phone-width) {
      font-size: 66px;
    }
  }

  &__destination-text {
    color: $white;
    font-size: 26px;
    font-weight: bold;
    line-height: 0.9;
    @media (min-width: $wide-phone-width) {
      font-size: 50px;
    }
  }

  &__text {
    color: $text-black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    @media (min-width: $wide-phone-width) {
      font-size: 18px;
      margin-bottom: 30px;
    }
    @media (min-width: $tablet-width) {
      font-size: 24px;
      margin-bottom: 40px;
    }
    @media (min-width: $unfolded-tablet-width) {
      font-size: 30px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
