//colors
$yellow-payment: #f2f56a;
$main-green: #34d186;
$green-line: #97E7C1;
$text-black: #232524;
$white: #ffffff;
$discount-red: #ee5555;
$error-input: #DB324D;
$mint-gradient: linear-gradient(
    90deg,
    #99e5c1 0%,
    #96e9c1 67.04%,
    #8cf2c2 100%
  );
$header-shadow: 0px 4px 50px 0px rgba(14, 62, 39, 0.10), 0px 0px 15px 0px rgba(14, 62, 39, 0.05);
$payment-button-shadow: 0px 0px 5px 0px rgba(14, 62, 39, 0.15) inset, 0px 0px 16px 0px rgba(14, 62, 39, 0.05) inset;
$footer-links-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
$input-shadow: 0px 0px 10px 0px rgba(14, 62, 39, 0.10) inset;
$white-form-shadow: 0px 0px 28px 0px rgba(14, 62, 39, 0.15) inset;
$advantages-image-shadow: -4px 4px 8px 0px rgba(14, 62, 39, 0.15);
//text shadow
$main-additional-links: 0px 4px 10px rgba(0, 0, 0, 0.5);


//parameters
$desktop-width: 1215px;
$unfolded-tablet-width: 1000px;
$tablet-width: 768px;
$wide-phone-width: 480px;
$phone-width: 360px