html,
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-family: "Source Sans 3", sans-serif;
}

ul,
ol,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
	list-style: none;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

.hidden {
  overflow: hidden;
}

@media (min-width: 1215px) {
  .hidden {
    overflow: inherit;
  }
}

