@import "./mixins";
@import "./variables";

.prepare {
  &__banner-section {
    margin-top: 30px;
    margin-bottom: 20px;
    @media (min-width: $wide-phone-width) {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    @media (min-width: $tablet-width) {
      margin-top: 14px;
      margin-bottom: 40px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-top: 0;
      margin-bottom: 100px;
    }
  }

  &__green-content-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
      background-image: url("../../public/backgrounds/green-text/prepare-to-test/desktop.png");
      background-repeat: no-repeat;
      background-position: top -30px center;
    }
  }

  &__green-content-block {
    padding-bottom: 50px;
    margin-bottom: 36px;
    background-image: url("../../public/backgrounds/green-text/prepare-to-test/mobile.png");
    background-repeat: no-repeat;
    background-position: top 100px center;
    @media (min-width: $wide-phone-width) {
      padding-bottom: 53px;
      margin-bottom: 50px;
      background-image: url("../../public/backgrounds/green-text/prepare-to-test/wide-phone.png");
      background-repeat: no-repeat;
      background-position: top 80px center;
    }
    @media (min-width: $tablet-width) {
      padding-bottom: 50px;
      margin-bottom: 80px;
      background-image: url("../../public/backgrounds/green-text/prepare-to-test/tablet.png");
      background-repeat: no-repeat;
      background-position: top 260px center;
    }
    @media (min-width: $unfolded-tablet-width) {
      padding-bottom: 80px;
      margin-bottom: 100px;
      background-image: url("../../public/backgrounds/green-text/prepare-to-test/unfolded-tablet.png");
      background-repeat: no-repeat;
      background-position: top 320px center;
    }
    @media (min-width: $desktop-width) {
      padding-bottom: 70px;
      margin-bottom: 93px;
      background-image: none;
    }
  }

  &__how-it-works-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 73px;
    }
  }

  &__pricing-section {
    margin-bottom: 103px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 123px;
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 137px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 176px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 100px;
    }
  }

  &__form-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 70px;
      background-image: url("../../public/backgrounds/form/prepare-to-test-form-background.png");
      background-repeat: no-repeat;
      background-position: top 310px center;
    }
  }

  &__faq-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
  }
}