@import "./variables";

.resume {
  &__banner-section {
    margin-top: 30px;
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $tablet-width) {
      margin-top: 20px;
      margin-bottom: 60px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-top: 0;
      margin-bottom: 100px;
    }
  }

  &__green-content-block {
    padding-bottom: 20px;
    @media (min-width: $wide-phone-width) {
      padding-bottom: 30px;
    }
    @media (min-width: $tablet-width) {
      padding-bottom: 34px;
    }
    @media (min-width: $unfolded-tablet-width) {
      padding-bottom: 45px;
    }
    @media (min-width: $desktop-width) {
      padding-bottom: 155px;
    }
  }

  &__green-content-mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__green-content-desktop {
    display: none;
    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &__green-content-section {
    background-image: url("../../public/backgrounds/green-text/resume/mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: top 160px center;
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      background-image: url("../../public/backgrounds/green-text/resume/wide-phone.png");
      margin-bottom: 80px;
    }
    @media (min-width: $tablet-width) {
      background-image: url("../../public/backgrounds/green-text/resume/tablet.png");
      background-position: top 270px center;
      background-size: 100% 48%;
    }
    @media (min-width: $unfolded-tablet-width) {
      background-image: url("../../public/backgrounds/green-text/resume/unfolded-tablet.png");
      background-position: top 270px center;
      background-size: 100% 52%;
      margin-bottom: 100px;
    }
    @media (min-width: $desktop-width) {
      background-image: url("../../public/backgrounds/green-text/resume/desktop.png");
      background-position: top -40px center;
      background-size: auto 70%;
    }
  }

  &__pricing-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 74px;
    }
  }

  &__how-it-works-section {
    margin-bottom: 103px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 123px;
    }
    @media (min-width: $tablet-width) {
      margin-bottom: 147px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 176px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 87px;
    }
  }

  &__form-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $desktop-width) {
      background-image: url("../../public/backgrounds/form/resume-form-background.png");
      background-position: bottom 160px center;
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }
  }

  &__faq-section {
    margin-bottom: 60px;
    @media (min-width: $wide-phone-width) {
      margin-bottom: 80px;
    }
    @media (min-width: $unfolded-tablet-width) {
      margin-bottom: 100px;
    }
  }
}