@import "../../styles/variables";

.logo {
  &__link {
    display: block;
  }
}

.mobile {
  display: block;
  @media (min-width: $wide-phone-width) {
    display: none;
  }
}

.tablet {
  display: none;
  @media (min-width: $wide-phone-width) {
    display: block;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
  }
}